@import url('https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@100&display=swap');

body {
  background-color: #2f2f35;
  background-size: cover;
}

.header {
    text-align: center;
    font-family: 'Ysabeau SC', sans-serif;
    color: whitesmoke;
}

#nav {
  width: auto;
  margin: 0 auto;
  list-style: none;
  background-color: black;
  align-content: center;
}

#nav li {
  float: left;
}

#nav a {
  display: block;
  text-align: center;
  text-decoration: none;
  width: 100px;
}

  ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    background-color: none;
  } 
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Ysabeau SC', sans-serif;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: gray;
  }

.intro {
    font-family: 'Ysabeau SC', sans-serif;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    font-size: 20px;
    font-weight: 500;
    color: whitesmoke;
}

 .container {
  display: flex;
  align-items: center;
  justify-content: center;
 }

.headshot {
  width: 600px;
  height: 400px;
  align-content: left;
}

.intro-text {
  font-size: 20px;
  float: right;
  font-family: 'Ysabeau SC', sans-serif;
  color: whitesmoke;
  text-align: center;
  width: 600px;
}

/* CSS for resume.html */

.header-resume {
  text-align: center;
  font-family: 'Ysabeau SC', sans-serif;
  color: lightgrey;
}

.resume {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
}

.download {
  text-align: center;
}

/* CSS for about.html */

.header-about {
  text-align: center;
  font-family: 'Ysabeau SC', sans-serif;
  color: whitesmoke;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 25%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.fishing {
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.guitar {
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.lacrosse {
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

/* CSS for projects.html */

.header-projects {
  text-align: center;
  font-family: 'Ysabeau SC', sans-serif;
  color: whitesmoke;
}

.dataScience-header {
  color: lightgrey;
  font-family: 'Ysabeau SC', sans-serif;
  text-align: center;
  font-weight: bold;
}

.websites {
  color: lightgrey;
  font-family: 'Ysabeau SC', sans-serif;
  text-align: center;
  font-weight: bold;
}

.stay-tuned {
  color: lightgrey;
  font-family: 'Ysabeau SC', sans-serif;
  text-align: center;
}

#dataScience a {
  text-align: center;
  font-weight: 400;
}

li a:hover {
  color: blue;
}

#websites-built a {
  text-align: center;
  font-weight: 400;
}



