@import url('https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@100&display=swap');

body {
  background-color: #2f2f35;
  background-size: cover;
}

/* NAV BAR CODE */

.header {
  float: left;
  font-family: 'Ysabeau SC', sans-serif;
  color: whitesmoke;
  margin-left: 15px;
}

#nav {
  width: auto;
  margin: 0 auto;
  background-color: black;
}

#nav li {
  display: block;
  text-align: center;
  float: right;
  height: auto;
}

#nav a {
  display: block;
  text-align: center;
  text-decoration: none;
  width: 100px;
  align-content: center;
}

  ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    background-color: none;
  } 
  
  li a {
    display: inline;
    color: white;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Ysabeau SC', sans-serif;
  }

  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: gray;
  }




.intro {
    font-family: 'Ysabeau SC', sans-serif;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    font-size: 20px;
    font-weight: 500;
    color: whitesmoke;
}

 .container-index {
  display: flex;
  align-items: center;
  justify-content: center;
 }

.headshot {
  width: 600px;
  height: 400px;
  align-content: left;
}

.intro-text {
  font-size: 20px;
  float: right;
  font-family: 'Ysabeau SC', sans-serif;
  color: whitesmoke;
  text-align: center;
  width: 600px;
}

.contact-header {
  font-size: 20px;
  font-family: 'Ysabeau SC', sans-serif;
  color: whitesmoke;
  text-align: center;
}

.number-email {
  font-size: 20px;
  font-family: 'Ysabeau SC', sans-serif;
  color: whitesmoke;
  text-align: center;
}

/* CSS for resume.html */

.container-index {
  display: flex;
  align-items: center;
  justify-content: center;
 }

.header-resume {
  text-align: left;
  font-family: 'Ysabeau SC', sans-serif;
  color: lightgrey;
  float: left;
}

.resume {
  width: 40%;
  height: 40%;
  align-content: right;
}

.download {
  text-align: left;
  float: left;
}

/* CSS for about.html */

.header-about {
  text-align: center;
  font-family: 'Ysabeau SC', sans-serif;
  color: whitesmoke;
}

.container {
    display: grid;
    padding: 2rem;
    grid-template-columns: 300px 1fr;
    gap: 1rem;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    font: 500 100%/1.5 system-ui;
}

.fishing {
  max-width: 100%;
  height: auto;
}

.guitar {
  max-width: 100%;
  height: auto;
}

.lacrosse {
  max-width: 100%;
  height: auto;
}

.fishing-about {
  align-content: right;
  font-family: 'Ysabeau SC', sans-serif;
  color: whitesmoke;
}

.lacrosse-about {
  align-content: right;
  font-family: 'Ysabeau SC', sans-serif;
  color: whitesmoke;
}

.guitar-about {
  align-content: right;
  font-family: 'Ysabeau SC', sans-serif;
  color: whitesmoke;
}






/* CSS for projects.html */

.header-projects {
  text-align: center;
  font-family: 'Ysabeau SC', sans-serif;
  color: whitesmoke;
}

.dataScience-header {
  color: lightgrey;
  font-family: 'Ysabeau SC', sans-serif;
  text-align: center;
  font-weight: bold;
}

.websites {
  color: lightgrey;
  font-family: 'Ysabeau SC', sans-serif;
  text-align: center;
  font-weight: bold;
}

.stay-tuned {
  color: lightgrey;
  font-family: 'Ysabeau SC', sans-serif;
  text-align: center;
}

#dataScience {
  width: auto;
  margin: auto;
  list-style: none;
  align-content: center;
  text-align: center;
}

#dataScience a {
  text-align: center;
  font-weight: 400;
}

#dataScience li a:hover {
  color: rgb(93, 214, 255);
  background-color: #2f2f35;
}

#websites-built a {
  text-align: center;
  font-weight: 400;
}

#websites-built li a:hover {
  color: rgb(93, 214, 255);
  background-color: #2f2f35;
}



